<div class="menu menu-left" on-swipe="onSideMenuSwipe($event)">
    <ion-content>
        <div class="button-bar">
            <button class="button button-small icon-right ion-arrow-left-a button-positive header-height" ng-click="sideMenu.hide()"></button>
        </div>
        <ul class="list">
            <!-- Note each link has the 'ng-click="sideMenu.hide()"' attribute so the menu auto closes when clicking on one of these links -->
            <a href="#/" class="item" ng-click="sideMenu.hide()">Home</a>
            <a href="#/link1" class="item" ng-click="sideMenu.hide()">Link 1</a>
            <a href="#/link2" class="item" ng-click="sideMenu.hide()">Link 2</a>
        </ul>
    </ion-content>
</div>