body {
    cursor: url('http://ionicframework.com/img/finger.png');
}

.star>.item-content {
    background-color: #EEE8D6 !important;
}

.item-divider {
    background-color: #EEE8D6;
}

.bar-positive, .tabs-positive>.tabs, button.button-positive {
    background-color: #417D9A !important;
    border-color:  #417D9A;
}

.item h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #417D9A;
}

h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #417D9A;
    padding-left: 10px;
}

.hide-element{
    display: none;
}

/* CSS styles for modal menu */

.menu-left {
    z-index: 99;
}

.sidemenu-button {
    width: 14px; /* = -5px (margin-left) + 24px (icon-menu) - 17px (offset while open) + 12px (margin-right) */
    height: 32px;
}

/* Allow pointer events on the header bar when the sidemenu is open */
.modal-open.menu-open ion-nav-view ion-nav-bar {
    pointer-events: auto;
}

.header-height {
    height: 44px;
    padding: 0px;
}

.slide-in-left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }

.slide-in-left.ng-enter, .slide-in-left > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.slide-in-left.ng-leave, .slide-in-left > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms; }

